section{
height: 100vh;
width: 100vw;
display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#video{
    height: 360px;
    width: 640px;
}
/* .player{
    width: 800px !important;
    height: 500px !important;
} */
